@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --bg-color: #ffffff;
    --button-bg-color: #007bff;
    --button-text-color: #ffffff;
    --text-color: #000000;
    --h2-color: #000000;
    --h1-span-color: #1e21dd;
    /* Color predeterminado del texto del span */
}

.dark-mode {
    --bg-color: #121212;
    --button-bg-color: #7931ec;
    --text-color: #e0e0e0;
    --heading-color: var(--text-color);
    /* Cambio del color del texto del span en modo oscuro */
}

/* Estilo para el botón al hacer hover */
.btn:hover {
    background-color: #112e7c;
}

.btnModo:hover {
    background-color: #112e7c;
}

/* Estilo para el botón de cambio de modo al hacer hover en modo oscuro */
.dark-mode .btnModo:hover {
    background-color: #7004af;
}

.dark-mode .btn:hover {
    background-color: #7004af;
}

.dark-mode .proyects .card span {
    background-color: #7004af;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1.5s ease;
}

.btnModo {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1.5s ease;
}

/* Transición del color del span */
header .content h1 span {
    color: var(--heading-color);
    transition: color 1.5s ease-in-out;
}

/* Cambio del color del span en modo oscuro */
.dark-mode header .content h1 span {
    color: var(--heading-color);
}

/* Estilo para el span dentro de h1 */
header .content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px var(--h1-span-color);
    transition: -webkit-text-stroke 3s ease-in-out, color 0.3s ease-in-out 0.2s;
}

.dark-mode header .content h1 span {
    -webkit-text-stroke: 1.5px #7931ec;
}

* {

    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img {
    width: 80%;
    display: flex;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.4s ease-in-out 0.2s, color 0.3s ease-in-out 0.2s;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--nav-bg-color);
}

.nav-logo {
    max-width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: var(--text-color);
}

.link a::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

.dark-mode .link a::after {

    background-color: #8d1dd8;

}



.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
    color: var(--text-color);
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 80px #163ead;
    z-index: -100;
}

.dark-mode .blur {
    position: absolute;
    box-shadow: 0 0 1000px 80px #7931ec;
    z-index: -100;
}

header {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4 {
    margin-bottom: 1rem;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
}

header .content h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 500;
    line-height: 4rem;
}


.header {
    /* Añade un estilo específico para el encabezado h2 */
    margin-bottom: 1rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    line-height: 4rem;
}




header .content p {
    margin-bottom: 2rem;
    color: var(--text-color);
}

header .image {
    position: relative;
}

header .image::before {
    content: "o";
    position: absolute;
    top: 0;
    left: 40%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.2;
    z-index: -100;
}


/* ------------------Estilo Cartas--------------------
*/
section .header {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    line-height: 4rem;
}

.proyects {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.proyects .card {
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.proyects .card:hover {
    background-color: #323232;
    border-color: #ffffff;
}

.proyects .card span {
    display: inline-block;
    background-color: #1e40af;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.50rem;
    color: #ffffff;
    border-radius: 5px;
    
}

.proyects .card h4 {
    margin-bottom: 0.5rem;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
}

.proyects .card p {
    color: #ccc;
    margin-bottom: 1rem;
}

.proyects .card a {
    color: #fff;
    transition: all 0.3s ease;
}

.proyects .card a:hover {
    color: #1e40af;
}

.dark-mode .proyects .card a:hover {
    color: #7931ec;
}

footer{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(2, 1fr);
    gap: 2rem;
}

footer .column .logo{
    max-width: 200px;
    margin-bottom: 2rem;
}

footer .column .p{
    color: #ccc;
    margin-bottom: 2rem;
}

footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
}

footer .column .socials a{
    color: #000000;
    border: 1.3px solid #000000;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

.dark-mode footer .column .socials a{
    color: #ccc;
    border: 1px solid #ccc;
}

footer .column .socials a:hover{
    color: #fff;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}

.dark-mode footer .column .socials a:hover{
    color: #fff;
    background-color: #7931ec;
    border-color: #7931ec;
}

footer .column h4{
    color: #000000;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.dark-mode footer .column h4{
    color: #ffffff;
}


footer .column > a{
    display: block;
    color: black;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

.dark-mode footer .column > a{
    color: #ccc;
}

footer .column > a:hover{
    color: #1d4ed8;
}

.dark-mode footer .column > a:hover{
    color: #7931ec;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #000000;
    font-size: 0.8rem;
    text-align: center;
}

.dark-mode .copyright{
    color: #fff;
}

.cvicono{
    background-color: white;    
}

