@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --bg-color: rgba(77, 166, 178, 0.219);
    --button-bg-color: #007bff;
    --button-text-color: #ffffff;
    --text-color: #000000;
    --h2-color: #000000;
    --h1-span-color: #1e21dd;
    --transition-duration: 0.4s;
}

.dark-mode {
    --bg-color: #17031e;
    --button-bg-color: #7931ec;
    --text-color: #e0e0e0;
    --heading-color: var(--text-color);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 28px;
    background-color: rgb(0, 0, 0);
    margin: 3px 0;
    transition: all 0.3s ease;
}

.dark-mode .bar{
    background-color: rgb(216, 213, 213);
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(rgb(226, 228, 233) -47%, var(--bg-color) 4%);
    color: var(--text-color);
    transition: background-color var(--transition-duration) ease-in-out, color var(--transition-duration) ease-in-out;
}


a {
    text-decoration: none;
    color: inherit;
}


.nav-logo img{
    width: 80%;
    display: flex;
}

.imagenfondo{
    text-align: -webkit-center;
}

.imagenfondo img{
    display: flex;
    width: 80%;
    text-align: -webkit-center;
}

img.imgproject{
    display: flex;
    width: 80%;
}

.dark-mode img.icono{
    filter: invert(1);
    
}

.btn, .btnModo {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1.5s ease;
}

.btnModo {
    padding: 0.5rem 1rem;
}

.btn:hover, .btnModo:hover {
    background-color: #112e7c;
}

.dark-mode .btn:hover, .dark-mode .btnModo:hover {
    background-color: #7004af;
}

nav {
    max-width: 100%;
    margin: auto;
    padding: 0.5rem 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: inset;
    border-bottom-width: 2px;
    background-image: linear-gradient(105deg, rgba(77, 166, 178, 0.219), transparent);
    border-bottom-color: rgba(223, 223, 223, 0.836);
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.dark-mode nav {
    background-image: linear-gradient(105deg, rgba(95, 13, 150, 0.42), transparent);
    border-bottom-color: rgb(112 80 164 / 45%);
    box-shadow: rgb(0 0 0) 0px 4px 8px;
}

.nav-logo {
    max-width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 3rem;
    align-items: center;

}
.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: var(--text-color);
    font-size: 18px;
}

.link a::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

.dark-mode .link a::after {
    background-color: #8d1dd8;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 6rem 2rem;
    
    color: var(--text-color);
}


.blur {
    position: absolute;
    box-shadow: rgb(22, 62, 173) -15px -10px 400px 120px;
    z-index: -100;
}

.dark-mode .blur {
    position: absolute;
    box-shadow: -200px -100px 1000px 100px #7931ec;
    z-index: -100;
}

.blurprojects{
    position: absolute;
    box-shadow: 750px 30px 1000px 100px #163ead;
    z-index: -100;
}

.dark-mode .blurprojects {
    position: absolute;
    box-shadow: 750px 30px 1000px 100px #7931ec;
    z-index: -100;
}



header {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content{
    padding: 3.5rem;
}

header .content h4 {
    margin-bottom: 1rem;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
}

header .content h1 {
    margin-bottom: 1rem;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4rem;
}

header .content p {
    margin-bottom: 2rem;
    color: var(--text-color);
    max-width: 38ch;
    font-size: 18px;
}

header .image {
    position: relative;
    text-align: -webkit-center;
}

header .image::before {
    content: "o";
    position: absolute;
    top: 0;
    left: 40%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.4;
    z-index: -100;
}

.dark-mode header .image::before {
    color: #7931ec;
    opacity: 0.4;
}

header .content h1 span {
    color: var(--heading-color);
    transition: color 1.5s ease-in-out;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px var(--h1-span-color);
    transition: -webkit-text-stroke 3s ease-in-out, color 0.3s ease-in-out 0.2s;
}

.dark-mode header .content h1 span {
    -webkit-text-stroke: 1.5px #7931ec;
}

section h1 {
    margin-bottom: 0.5rem;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 4rem;
    text-align: center;
}

.contactheader{
    font-size: 1.5rem;
    padding-top: 2rem;
    color: #111badd8;
    transition: color 0.3s, transform 0.3s;
    display: flex;
    gap: 3rem;
}

.contactheader a:hover {
    color: #2e3ae2;
    transform: scale(1.15);
    transition: color 0.3s, transform 0.4s;
}

.dark-mode .contactheader{
    color: #765aa3;
}

.dark-mode .contactheader a:hover {
    color: #981ae0;
}

.containerflecha{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.arrow {
    position: relative;
    bottom: 80px;
    width: 30px;
    height: auto;
    animation: bounce 2s infinite;
}

.arrow img{
    inline-size: -webkit-fill-available;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* ----------------- PROJECTS ------------------*/
.busqueda{
    display: ruby;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 2rem;
    margin-top: 1rem;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 20px;
    z-index: 1;
    margin-left: 450px;
}
.dropdown-content input {
    margin-right: 10px;
}
.dropdown-content label {
    display: block;
    margin: 5px 0;
}
.dark-mode .dropdown-content label{
    color: #000000;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.apply-filters-btn{
    background-color: #8abaee;
    padding: 0.4rem;
    border-radius: 20px;
}
.apply-filters-btn:hover{
    background-color: #007bff;
    cursor: pointer;
}

.filter-btn {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border-radius: 40px;
}

.filter-btn:hover {
    background-color:#8abaee ;
}

.projects {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    background-color: #8ba0f6;
    padding: 2rem;
    border-radius: 51px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 8px -2px rgba(0, 0, 0, 1);
}

.dark-mode .projects{
    background-color: #725bad;
}

.projects .card {
    background-color: #2b49a0c2;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.projects .cardcomingsoon{
    background-color: #0e1836cc;
    color: #fff;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
    text-align: center;
    align-content: center;
    font-size: 1.7rem;
}

.dark-mode .projects .cardcomingsoon{
    background-color: #1f132dd4;

}

.dark-mode .projects .card {
    background-color: #40104650;
}

.projects .card:hover {
    background-color: #001F54;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 8px -2px rgba(0, 0, 0, 1);
}

.dark-mode .projects .card:hover {
    background-color: #440341;
    border-color: #5d0a68;
}

.projects .card span {
    display: inline-block;
    background-color: #1e40af;
    padding: 2px 9px;
    margin: 0.25rem;
    font-size: 1.50rem;
    color: #ffffff;
    border-radius: 5px;
}

.projects .card span:hover {
    transform: scale(1.2);
    transition: all 0.1s ease;
}

.dark-mode .projects .card span {
    background-color: #640770d8;
}

.projects .card .tipo {
    background-color: #1282A2;
}

.projects .card .masnuevo {
    background-color: #8d0c0c;
}

.dark-mode .projects .card .masnuevo {
    background-color: #8d0c0c;
}

.dark-mode .projects .card .tipo {
    background-color: #9c3594;
}

.projects .card h4 {
    margin-top: 1rem;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 1rem;
}

.projects .imgproject{
    padding: 0.5rem;
    margin: auto;
    width: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.projects .card p {
    color: #f3f3f3;
    margin-bottom: 1rem;
    padding: inherit;
}

.projects .card a {
    color: #fff;
    transition: all 0.3s ease;
}

.projects .card a:hover {
    color: #1e40af;
}

.dark-mode .projects .card a:hover {
    color: #7931ec;
}


/* ----------------- ABOUT ------------------*/

.tituloabout p{
    font-size: 20px;
    text-align: left;
    max-width: 62ch;
}

.tituloabout h3{
    font-size: 20px;
    padding: 1rem;
    text-align: center;
}


.tituloabout span{
    color: #007bff;
    font-weight: 600;
}

.dark-mode .tituloabout span {
    color: #8443ae;
}

.tituloabout h2{
    font-size: 2.5rem;
    padding-left: 3.5rem;
    text-align: center;
}

.container .tituloabout h2 span {
    color: var(--heading-color);
    transition: color 1.5s ease-in-out;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px var(--h1-span-color);
    transition: -webkit-text-stroke 3s ease-in-out, color 0.3s ease-in-out 0.2s;
    font-size: 40px;
}

.dark-mode .tituloabout h2 span {
    -webkit-text-stroke: 1.5px #7931ec;
}

.skillslist{
    list-style: none;
    align-items: center;
    justify-items: center;
    font-size: 0.5rem;
    margin: auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    max-width: 1000px;
    background-image: linear-gradient(to right, #2d8acbd1, #9aa1fd);
    padding: 0.5rem;
    border-radius: 48px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 8px -2px rgba(0, 0, 0, 1);
}

.dark-mode .skillslist{
    background: linear-gradient(225.58deg, rgb(7 4 254 / 69%) -84.51%, rgb(214 0 230 / 63%) 95.11%);
}


.cartaskill{
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
    margin: auto;
}

.dark-mode .skillslist{
    background-color: #42253B;
}

.cartaskill p{
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    text-align: center;
}

li{
    text-align: center;
}

.fotoabout {
    width: 230px;
    height: 300px;
    object-fit: cover;
    margin-top: -30px;
    float: right;
    margin-right: 20px;
    shape-outside: circle();
}

.infoyfoto{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
    margin-bottom: 5rem;
}

.interests{
    margin-bottom: 6rem;
    text-align: -webkit-center;
}


/* ----------------- CONTACT ------------------*/

section .contact { /*caja de redes*/
    display: flex;
    justify-content: space-around;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: rgba(219, 215, 215, 0.836);
    margin: 2rem auto;
    padding: 0.3rem;
    width: 34rem;
    align-items: center;
}

.container .titulocontacto {
    padding: 2rem 0;
    max-width: 1600px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 8px -2px rgba(0, 0, 0, 1);
}

.container .titulocontacto h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 500;
}

.titulocontacto {
    background-color: #acc5e22c;
    text-align: center;
    padding: 1.5rem;
    border: outset;
    border-color: #207dbb20;
}

.dark-mode .titulocontacto {
    background-color: #7004af29;
    border-color: #7c12b9be;
}

a.linkmail {
    display: -webkit-box;
}

.container .contact a {
    font-size: 1.8rem;
    margin: 0 0.5rem;
    color: #9aa1fd;
    transition: color 0.3s, transform 0.3s;
}

.container .contact .linkmail {
    font-size: 1.1rem;
    margin: 0 0.5rem;
    color: #9aa1fd;
    transition: color 0.3s, transform 0.3s;
    align-content: center;
}

.dark-mode .container .contact a {
    color: #413344;
}

.container .contact a:hover {
    color: #2e3ae2;
    transform: scale(1.3);
}

.container .contact .linkmail:hover {
    color: #2e3ae2;
    transform: scale(1.1);
}

.dark-mode .container .contact a:hover {
    color: #9306b6;
}


/* ------------ FOOTER -------------*/

footer.container {
    padding: 1rem;
}

footer {
    position: relative;
    display: grid;
    grid-template-columns: 450px 1fr;
    gap: 2rem;
}

footer container {
    padding: 1rem;
}

footer .logo{
    float: inline-end;
}

footer .logo img {
    max-width: 150px;
    margin-bottom: 1rem;
    align-items: end;
}

footer p {
    font-size: 1rem;
    color: #555;
    margin-top: 0.5rem;
    max-width: 44ch;
    justify-self: left;
}

.copyright {
    text-align: center;
    padding: 0.8rem;
    font-size: 0.9rem;
    background-color: #6186cc34;
    font-size: 0.9rem;
    color: #837373;
    font-weight: 100;
}

.dark-mode .copyright {
    background-color: #3f0a7034;
    color: #fff;
}


section, header {
    scroll-margin-top: 100px;
}


/*-----------------RESPONSIVE-------------------*/


@media (width < 1000px){
    
    header{
        grid-template-columns: repeat(1,1fr);
    }
    .imagenfondo img {
        width: 440px;
    }
    header .content p{
        max-width: none;
    }
    header .content h1{
        font-size: 2.8rem;
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .projects{
        grid-template-columns: repeat(1,1fr);
    }
    .projects .imgproject{
        border-radius: 2rem;
    }
    .titulocontacto{
        border-radius: 35px;
    }
    footer{
        grid-template-columns: 150px 1fr;
        text-align: left;
    }
    footer .logo{
        text-align: -webkit-center;
    }
    .contactheader{
        place-content: space-evenly;
    }
    .skillslist{
        grid-template-columns: repeat(3, 0.5fr);
    }
}


@media (width < 700px){
    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #home {
        padding-top: 3rem;
    }
    .busqueda{
        display: none;
    }
    .projects{
        justify-content: center;
        margin-top: 1rem;
    }
    .projects .imgproject{
        border-radius: 2rem;
        width: 300px;
    }
    .contactheader{
        font-size: 1.5rem;
        padding-top: 0rem;
        gap: 1rem;
    }
    .imagenfondo img {
        width: 340px;
    }
    section h1{
        font-size: 40px;
    }
    .arrow{
        display: none;
    }
    .nav-links {
        margin-top: -100%;
        transition: all 0.5s;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        gap: 0px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding-bottom: 1rem;
    }
    .dark-mode .nav-links{
        background-image: linear-gradient(105deg, #5f0d96, #23003b);
    }

    .nav-links li {
        text-align: center;
        padding: 1rem 0;
        width: 100%;
    }
    .menu-toggle {
        display: flex;
    }

    .nav-links.active {
        display: flex;
        margin: 0;
    }
    
    button#toggle-dark-mode {
        position: absolute;
        right: 102px;
        top: -45px;
        align-self: end;
    }


    header .image::before{
        display: none;
    }
    header .content h1{
        font-size: 40px;
    }
    header .content h4{
        font-style: italic;
        font-size: 14px;
    }
    header .content p {
        font-size: 16px;
    }
    header .content{
        padding: 0rem;

    }
    .iconochico {
        width: 60px;
        height: 60px;
      }
    .cartaskill p {
        font-size: 14px;
        padding-inline: 0rem;
    }
    .cartaskill{
        height: auto;
    }
    .projects .card h4 {
        text-align: center;
    }
    .skillslist{
        grid-template-columns: repeat(3, 0.2fr);
        max-width: 100%;
        place-content: center;
    }
    .tituloabout h2{
        font-size: 40px;
        text-align: center;
        font-weight: 500;
        padding: 0.8rem;
    }
    .tituloabout p{
        font-size: 16px;
    }

    section .contact p{
        display: none;
    }
    section .contact {
        width: 20rem;
    }
    .container .contact .linkmail {
        font-size: 1.5rem;
    }
    .fotoabout {
        height: 220px;
        width: 170px;
        margin-top: -15px;
        float: right;
        margin-right: 0px;
        shape-outside: circle();
    }
    .containerflecha{
        height: 0vh;
    }
}